/*Classes existantes*/
html{height:100%;}
body {
	min-height:100%;
	height:auto;
	margin: 0 auto;
	font-family:sans-serif;
	font-size:0.9em;
	background: #f0f0f0;
	color: #444;
}

h1{
	text-align: center;
	font-weight: bold;
}



/*Divs & containers*/
.container{
	position:relative;
	min-height:100%;
	height:100%;

}

.field{
	width: 60%;
	margin: 10px auto;

}

/*//////////////////////////*\
 BOUTON
\*\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.bouton{
	margin: 0 8px 0 0;
	padding: 6px 10px;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	text-decoration:none;

	color:#444;
	box-shadow: 0 0 1px 0 #FFF inset;
	border:solid 1px #AAA;
	background: #E9E9E9;
}
.bouton:active{
	padding: 7px 10px 5px;
}
.bouton:hover,
.bouton:focus{
	background: #F5F5F5;
	border-color:#888;
}


.maLigne{
font-weight: bold;
}

.color{
background: #9ACD32;
}

table {
		border-collapse: collapse;
}
td{
	border: solid 1px;

}

.divRight{
	display: inline-block;
	width: 40%;
}

.divLeft{
	display: inline-block;
	text-align: right;
	width: 40%;
}

.noMargin{
	margin: 5px;
}

.marginLabel{
	margin: 10px 0px;
}



