<section class="container">
	<h1 class="field"> Se connecter...  </h1>
	<hr>

	<div class="field">

		<div  class="field">

			Bienvenue à Vis ma vie d'info
			<!-- données modifiables par l'utilisateur -->
			<div class="field" > 

				<table> 
					<tr><td>
						<label class="label" >Login :</label> </td>
						<td>
							<input type="text" placeholder="texte simple" ng-model="login"></td>
					</tr>
					<tr> <td>
						<label class="label" >Mot de passe :</label> </td>
						<td>
							<input type="password" placeholder="mot de passe" ng-model="password"> </td>
					</tr>
				</table>

			</div>
			<div class="divButton">
				<button type="submit" ng-click="clickOnLogin()" class="bouton">OK !</button>
			</div>
		</div>
	</div>
</section>
