<section class="container">
    <h1 class="field"> Se connecter à notre jolie application </h1>
    <hr>
 
    <div class="field">
    	<label class="label" >Login: </label>
    	<input type="text" placeholder="Votre login" ng-model="login">
	</div>
	<div class="field">
    	<label class="label" >Password: </label>
    	<input type="password" placeholder="Votre mot de passe" ng-model="password">
    </div>


        <div  class="field">

           Me connecter...
           <button type="submit" ng-click="clickOnLogin()" class="bouton">Go !</button>
        </div>
        
    </div>
</section>
